html, body {
  height: 100%;
}
.main-panel {
  width: 100%;
}
.push-down {
  margin-top: 25px;
}
.push-out {
  margin: 25px;
}
.plot-hover-info {
	position: relative;
	float: left;
	height: 150px;
	width: 200px;
}
.mgmt-select-info {
	width: 500px;
	height: auto;
}
.map-container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.map-message {
  font-style: italic;
  font-size: 18px;
}