body {
	font-family: 'Open Sans', sans-serif;
}
.panel {
	border-radius: 2px;
	overflow: auto;
}
.panel-info {
	margin: 20px;
	font-size: 20px;
}
.panel-info-text {
	padding-top: 5px;
}
.panel-content {
	margin: 25px;
	font-size: 16px;
}
.label {
	font-size: 10px;
}
.title {
	border: 1px solid;
	padding: 10px;
}
.list-group-item-content {
	margin: 15px;
}
.row-total {
}