body {
	font-family: 'Open Sans', sans-serif;
}
.table {
	width: 500px;
	margin: auto;
}
.panel {
	border-radius: 2px;
	overflow: auto;
}
.label {
	font-size: 10px;
}
.title {
	border: 1px solid;
	padding: 10px;
	width: 300px;
}
.list-group-item-content {
	margin: 15px;
}
.plot {
	margin: 25px;
}